<header class="p-4 mb-2 shadow-sm">
    <nav class="nav d-flex justify-content-between align-items-center">
        <li class="nav-link d-flex align-items-end">
            <img [src]="getImageLogo()" alt="logo de la marca">
            <h3>Lapicito</h3>
        </li>
        <li class="nav-link d-flex align-items-center">
            <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
            <a class="nav-link" (click)="openLogin()">Login</a>
            <button class="switch ml-3" id="switch">
                <span><i class="fa fa-sun"></i></span>
                <span><i class="fa fa-moon"></i></span>
            </button>
        </li>
        <!-- <li class="nav-link d-flex align-items-center">
            <a class="nav-link d-flex align-items-center">
                <h2 class="fa fa-user-circle me-2">
                </h2>Marcos
            </a>
            <button class="switch ml-3" id="switch">
                <span><i class="fa fa-sun"></i></span>
                <span><i class="fa fa-moon"></i></span>
            </button>
        </li> -->
    </nav>
</header>