.container-img-portada {
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: contain;
  .img-thumbnail {
    position: absolute;
    top: 250px;
    left: 13%;
    height: 160px;
    width: 160px;
    background-size: contain;
  }
}

.btn-mp {
  img {
    height: 30px;
  }
}

.card {
  height: 300px;
  margin-bottom: 15px;
}

.card-publishment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  height: 100%;
  h5 {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .card-publishment-avatar {
    border-radius: 100%;
    width: 80px;
    height: auto;
    border: 2px solid white;
    margin-bottom: 15px;
  }
}

.card-space {
  display: flex;
  flex-direction: column;
  .card-space-portada {
    height: 100px;
  }
  h5 {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .card-space-avatar {
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -35px;
    border-radius: 100%;
    width: 60px;
    height: auto;
    border: 2px solid white;
  }
}
