<div class="container p-4" *ngIf="user">
  <div class="d-flex flex-column align-items-center">
    <div
      class="container-img-portada"
      [style.backgroundImage]="'url(' + user.portada_url + ')'"
    >
      <div
        class="rounded p-3 d-flex justify-content-end"
        (click)="openEditPortada()"
      >
        <i class="fa fa-edit text-white pointer" [hidden]="isViewer()"></i>
      </div>
      <img
        class="rounded-circle img-thumbnail pointer"
        [src]="user.avatar_url"
        onerror="this.src='assets/images/user-empty-avatar.png';"
        (click)="openEditAvatar()"
      />
    </div>
  </div>
  <div class="row border-bottom pb-4 pt-4">
    <div class="col-md-12 d-flex justify-content-end p-3">
      <i
        class="fa fa-pen pointer"
        (click)="openEditProfile()"
        [hidden]="isViewer()"
      ></i>
    </div>
    <div class="col-md-4 ps-5">
      <h3>{{ user.userName }}</h3>
      <h2 class="mt-3 mb-3">{{ user.nombre }} {{ user.apellido }}</h2>
    </div>
    <div class="col-md-4 d-flex flex-column">
      <h3>Datos de contacto:</h3>
      <span class="mb-2"><strong>Email: </strong>{{ user.email }}</span>
      <span
        ><strong>Teléfono: </strong
        >{{ user.telefono ? user.telefono : "No cargo teléfono" }}</span
      >
    </div>
    <div class="col-md-4 d-flex flex-column">
      <!-- <h3>Categorías de preferencia:</h3>
            <div class="d-flex flex-wrap">
                <span class="me-2" *ngFor="let cat of user.categorias">
                    <i class="fa" [ngClass]="cat.icono"></i>
                    {{cat.descripcion}}
                </span>
            </div> -->
      <div class="mb-2" [hidden]="isViewer()">
        <a
          class="btn btn-outline-primary btn-block mt-3 btn-mp"
          [href]="getUrlMP()"
          placement="top"
          ngbTooltip="Vincule su cuenta para poder recibir Lapicitos!"
          *ngIf="!user.mp_user_id"
        >
          <img src="assets/images/icon_mp.png" />
          Vincular Mercado Pago</a
        >
        <!-- <a
          class="btn btn-outline-primary btn-block mt-3 btn-mp"
          placement="top"
          ngbTooltip="Proximamente vas a poder vincular tu cuenta para poder recibir Lapicitos!"
          *ngIf="!user.mp_user_id"
        >
          <img src="assets/images/icon_mp.png" />
          Vincular Mercado Pago</a
        > -->
        <a
          class="btn btn-outline-danger btn-block mt-3 btn-mp"
          (click)="desvincularMP()"
          *ngIf="user.mp_user_id"
        >
          <img src="assets/images/icon_mp.png" />
          Desvincular Mercado Pago</a
        >
      </div>
      <div>
        <h5
          class="text-green pointer"
          (click)="showDonaciones()"
          placement="top"
          ngbTooltip="Hace click para mirar los comentarios que le dejaron!"
        >
          <img
            src="assets/images/logo_new2.svg"
            alt="logo de la marca"
            style="width: 30px"
          />
          Lapicitos recibidos: {{ user.cantidad_lapicitos }}
        </h5>
        <button
          type="button"
          class="btn-lg p-2 btn-green mt-1"
          style="width: 70%"
          *ngIf="isViewer() && user.mp_user_id"
        >
          Donar Lapicito
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-5 d-flex align-items-center">
    <div class="col-md-6">
      <h2>Publicaciones</h2>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button
        class="btn-blue"
        [hidden]="isViewer()"
        [routerLink]="['/publishment/create']"
      >
        Publicar
      </button>
    </div>
  </div>
  <div class="row mt-4" *ngIf="publishments">
    <div class="col-md-3" *ngFor="let publishment of publishments">
      <div class="card shadow">
        <div class="card-publishment">
          <!--<img src="assets/images/portada.jpg" class="card-publishment-portada">-->
          <!--<img class="card-publishment-avatar" [src]="publishment.usuario.avatar_url"
                        onerror="this.src='assets/images/user-empty-avatar.png';">-->
          <h5
            class="text-green"
            (click)="showPublishmentDetail(publishment.idPublicacion)"
          >
            {{ publishment.titulo | limitCaracters : 40 }}
          </h5>
          <p>{{ publishment.descripcion | limitCaracters : 70 }}</p>
          <div class="carf-footer">
            <div class="d-flex mb-2">
              <span class="me-2 text-decoration-underline"
                >Categor&iacute;a:</span
              >
              <span
                >{{ publishment.espacio.categoria.descripcion
                }}<i
                  class="fa ms-2"
                  [ngClass]="[publishment.espacio.categoria.icono]"
                ></i
              ></span>
            </div>
            <div class="d-flex">
              <span class="me-2 text-decoration-underline">Espacio:</span>
              <span>{{ publishment.espacio.titulo }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="publishments.length == 0">
      <h3 class="text-blue">No tenes publicaciones</h3>
    </div>
  </div>

  <div class="row mt-5 pt-5 border-top d-flex align-items-center">
    <div class="col-md-6">
      <h2>Espacios</h2>
    </div>
    <!-- <div class="col-md-6 d-flex justify-content-end">
            <button class="btn-blue">Crear</button>
        </div> -->
  </div>
  <div class="row mt-4" *ngIf="spaces">
    <div class="col-md-4" *ngFor="let space of spaces">
      <div class="card shadow">
        <div class="card-space">
          <img
            class="card-space-portada"
            [src]="space.viewEspacioDto.portada_url"
            onerror="this.src='assets/images/portada-empty.jpg';"
          />
          <div class="p-2 d-flex flex-column">
            <h5
              class="text-green"
              (click)="showSpaceDetail(space.viewEspacioDto.idEspacio)"
            >
              {{ space.viewEspacioDto.titulo }}
            </h5>
            <p>{{ space.viewEspacioDto.descripcion | limitCaracters : 100 }}</p>
          </div>
          <div class="ps-2">
            <div class="d-flex">
              <span class="me-2 text-decoration-underline"
                >Categor&iacute;a:</span
              >
              <span
                >{{ space.viewEspacioDto.categoria.descripcion
                }}<i
                  class="fa ms-2"
                  [ngClass]="[space.viewEspacioDto.categoria.icono]"
                ></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="spaces.length == 0">
      <h3 class="text-blue">No tenes espacios</h3>
    </div>
  </div>
</div>
