$header-height: 90px;
$footer-height: 90px;

$green-primary: #51bfa6 !important;
$green-strong-primary: #41a08a !important;
$green-background: #f9fffc !important;
$blue-primary: #5766c4;
$aliceblue-primary: aliceblue;
$aliceblue-dark: #5b5e72;

//colors light
$black-main: #424242 !important;
$shadow_light: 10px 10px 20px rgba(170, 170, 170, 0.16);

//colors dark
$header_dark_background: #282a36 !important;
$white-dark: #f2f2f2 !important;
$shadow_dark: 10px 10px 20px rgba(0, 0, 0, 0.16);
$green_dark_primary: #50fa7b !important;
$body_dark_background: #44475a !important;
