<div class="modal-header">
    <h4 class="modal-title">Lapicitos recibidos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
</div>
<div class="modal-body" *ngIf="lapicitos">
    <div class="row">
        <div class="col-md-4" *ngFor="let lapicito of lapicitos">
            <div class="card shadow">
                <div class="card-publishment">
                    <div class="p-2 d-flex flex-column">
                        <strong class="mb-2 text-center">{{lapicito.usuarioEmisor.userName}} dono:</strong>
                        <h4 class="text-green mb-2 d-flex align-items-center justify-content-center">
                            {{lapicito.cantidad}} <img class="ms-2" src="assets/images/logo_new2.svg"
                                alt="logo de la marca" style="width: 30px;">
                        </h4>
                        <p>{{lapicito.comentario}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>