@import "./../../../assets/partials/variables";

.btn-lg {
  font-size: 16px;
  height: 38px;
}

.list-group-item {
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $blue-primary;
  }
}

p.text-decoration-underline {
  cursor: pointer;
}

.card {
  height: 330px;
  margin-bottom: 15px;
}

.card-publishment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  height: 100%;
  h5 {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .card-publishment-avatar {
    border-radius: 100%;
    width: 80px;
    height: auto;
    border: 2px solid white;
    margin-bottom: 15px;
  }
}

.card-space {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .card-space-portada {
    height: 100px;
  }
  h5 {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .card-space-avatar {
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -35px;
    border-radius: 100%;
    width: 60px;
    height: auto;
    border: 2px solid white;
  }
}
