<div class="container p-4">
    <div class="row">
        <div class="col-md-2 pe-4">
            <h5 class="text-green text-center">Categorias</h5>
            <ul class="list-group mb-3 mt-4">
                <li class="list-group-item active" aria-current="true">Todas</li>
                <li class="list-group-item">Informatíca</li>
                <li class="list-group-item">Matemática</li>
                <li class="list-group-item">Programación</li>
            </ul>
            <p class="text-center text-decoration-underline">Añadir Categorias</p>
            <h5 class="text-green text-center mt-4 pt-4 border-top">Espacios</h5>
            <p class="text-center">No tenes espacios</p>
            <h5 class="text-green text-center mt-4 pt-4 border-top">Te puede interesar</h5>
            <ul class="list-group mb-3 mt-4">
                <li class="list-group-item">Informatíca Gral.</li>
                <li class="list-group-item">Todo Java</li>
                <li class="list-group-item">Angular a fondo</li>
                <li class="list-group-item">Matemática Gral.</li>
                <li class="list-group-item">Spring Framework</li>
                <li class="list-group-item">Algebra Lineal</li>
                <li class="list-group-item">Espacio Phyton</li>
                <li class="list-group-item">Javascript</li>
                <li class="list-group-item">Geometría</li>
                <li class="list-group-item">Todo Frontend</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Que estas buscando?"
                            aria-describedby="button-addon2">
                        <button class="btn-green" type="button" id="button-addon2">Buscar</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn-lg btn-blue">Publicar</button>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Publicaciones</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" value="option2"
                            (change)="showSpaces()">
                        <label class="form-check-label" for="inlineRadio2">Espacios</label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment" (click)="showPublishmentDetail()">
                            <img src="assets/images/portada.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Programación</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Todo Java</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-informatica.jpg" class="card-publishment-portada img-fluid">
                            <img src="assets/images/avatar-2.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Informatíca</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Informatíca Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-matem.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar-3.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Matemática</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Matemática Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Programación</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Todo Java</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-informatica.jpg" class="card-publishment-portada img-fluid">
                            <img src="assets/images/avatar-2.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Informatíca</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Informatíca Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-matem.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar-3.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Matemática</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Matemática Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Programación</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Todo Java</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-informatica.jpg" class="card-publishment-portada img-fluid">
                            <img src="assets/images/avatar-2.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Informatíca</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Informatíca Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <img src="assets/images/portada-matem.jpg" class="card-publishment-portada">
                            <img src="assets/images/avatar-3.png" class="card-publishment-avatar">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Lorem ipsum</strong>
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                            </div>
                            <div class="p-2">
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Categoria:</small>
                                    <small>Matemática</small>
                                </div>
                                <div class="d-flex">
                                    <small class="me-2 text-decoration-underline">Espacio:</small>
                                    <small>Matemática Gral.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>