<div class="d-flex flex-column align-items-center p-5">
    <h2>Vos también podés estudiar, <br> vos también podés enseñar</h2>
    <p class="text-center"> Lapicito es una plataforma para compartir material de estudio, como así mismo buscar o
        postularte para brindar
        ayuda de un tema especifico. Ademas si sos alumno universitario podrás llevar un seguimiento de tu carrera.</p>
</div>
<div class="intro p-4 shadow mb-4">
    <h3 class="text-center text-green mb-4">¿Como funciona Lapicito?</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/home_student.png" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="mb-3">
                <h4>Creá tu cuenta</h4>
                <p>En menos de un minuto</p>
            </div>
            <div class="mb-3">
                <h4>Subí contenido</h4>
                <p>Compartis contenido y obtenes lapicitos</p>
            </div>
            <div class="mb-3">
                <h4>Enseñá</h4>
                <p>Comparti tu experiencia brindando apoyo y obtene lapicitos a cambio</p>
            </div>
        </div>
    </div>
</div>