<div class="intro p-5 shadow">
    <div class="row">
        <div class="col-md-7">
            <img src="assets/images/women.png" class="img-fluid">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center">
            <h2 class="text-center text-green mb-5">Vos también podés estudiar, <br> vos también podés enseñar</h2>
            <p class="text-center"> Lapicito es una plataforma para compartir material de estudio, como así mismo buscar
                o postularte para brindar ayuda de un tema especifico. Ademas si sos alumno universitario podrás llevar
                un seguimiento de tu
                carrera.</p>
        </div>
    </div>
</div>
<div class="intro-break p-5 shadow">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center text-green mb-5">Crea tu cuenta</h2>
            <p class="text-center">Te llevara menos de un minuto y tendrás acceso a toda la plataforma.</p>
            <button class="btn-green-outside">Registrarse</button>
        </div>
        <div class="col-md-6">
            <img src="assets/images/man_happy_min.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="intro p-5 shadow">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/upload.png" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2 class="text-center text-green mb-5">Subí contenido</h2>
            <p class="text-center">Compartí tus apuntes y obtené <b>Lapicitos</b> como retribución.</p>
        </div>
    </div>
</div>
<div class="intro-break p-5">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2 class="text-center text-green mb-5">Enseña</h2>
            <p class="text-center">Compartí tu experiencia brindando apoyo y obtene <b>Lapicitos</b> a cambio.</p>
        </div>
        <div class="col-md-6">
            <img src="assets/images/teacher.png" class="img-fluid">
        </div>
    </div>
</div>