<div class="modal-header">
    <h4 class="modal-title">Crear espacio</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
</div>
<div class="modal-body">
    <label>Elegi una portada</label><br>
    <img class="img-thumbnail mb-3" [src]="filePath" onerror="this.src='assets/images/portada-empty.jpg';">
    <input class="form-control" type="file" accept="image/*" id="customFile" (change)="selectFile($event)">
    <form [formGroup]="form">
        <div class="mb-3 mt-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo">
            <small class="text-danger"
                *ngIf="(form.controls.titulo.dirty || form.controls.titulo.touched) && form.controls.titulo.getError('required')">El
                titulo es
                requerido</small>
        </div>
        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" cols="30" rows="10" formControlName="descripcion"></textarea>
            <small class="text-danger"
                *ngIf="(form.controls.descripcion.dirty || form.controls.descripcion.touched) && form.controls.descripcion.getError('required')">La
                descripción es
                requerida</small>
            <small class="text-danger"
                *ngIf="(form.controls.descripcion.dirty || form.controls.descripcion.touched) && form.controls.descripcion.getError('maxlength')">La
                descripción no puede superar los 600 caracteres</small>
        </div>
        <div class="mb-3">
            <label for="">Categoría</label>
            <select class="form-control" formControlName="categoria" style="max-height: 120px; overflow-y: auto;">
                <option value="Seleccione.." disabled>Seleccione</option>
                <option value="{{categoria.idCategoria}}" *ngFor="let categoria of categorias">{{categoria.descripcion}}
                </option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!selectedFile || form.invalid" (click)="save()">Guardar</button>
</div>