<div class="container p-4">
    <div class="row post">
        <div class="col-md-9 post-detail">
            <img src="assets/images/portada-java.png" class="portada mb-3">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h1>Todo Java</h1>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button class="btn-blue">Unirse</button>
                </div>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam voluptatem corrupti saepe quisquam
                distinctio quae fugit maiores nostrum, unde pariatur vero, id quibusdam? Debitis qui eveniet, explicabo
                pariatur nisi dicta.</p>
        </div>
        <div class="col-md-3 p-4 d-flex flex-column align-items-center">
            <img src="assets/images/avatar.png" class="mb-3">
            <h5>Administrador: javero85</h5>
            <button type="button" class="btn-green mb-4">Donar Lapicito</button>
            <h5 class="border-top pt-3">Miembros</h5>
            <span>101</span>
            <h5 class="pt-3">Categoría</h5>
            <span>Programación</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Publicaciones</h3>
        </div>
    </div>

    <div class="row feedback">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-publishment" (click)="showPublishmentDetail()">
                    <img src="assets/images/portada.jpg" class="card-publishment-portada">
                    <img src="assets/images/avatar.png" class="card-publishment-avatar">
                    <div class="p-2 d-flex flex-column">
                        <small class="mt-4 mb-2">Fecha: 20/02/2021</small>
                        <strong class="mb-2">Lorem ipsum</strong>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-publishment" (click)="showPublishmentDetail()">
                    <img src="assets/images/portada.jpg" class="card-publishment-portada">
                    <img src="assets/images/avatar.png" class="card-publishment-avatar">
                    <div class="p-2 d-flex flex-column">
                        <small class="mt-4 mb-2">Fecha: 20/02/2021</small>
                        <strong class="mb-2">Lorem ipsum</strong>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-publishment" (click)="showPublishmentDetail()">
                    <img src="assets/images/portada.jpg" class="card-publishment-portada">
                    <img src="assets/images/avatar.png" class="card-publishment-avatar">
                    <div class="p-2 d-flex flex-column">
                        <small class="mt-4 mb-2">Fecha: 20/02/2021</small>
                        <strong class="mb-2">Lorem ipsum</strong>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-publishment" (click)="showPublishmentDetail()">
                    <img src="assets/images/portada.jpg" class="card-publishment-portada">
                    <img src="assets/images/avatar.png" class="card-publishment-avatar">
                    <div class="p-2 d-flex flex-column">
                        <small class="mt-4 mb-2">Fecha: 20/02/2021</small>
                        <strong class="mb-2">Lorem ipsum</strong>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, deserunt.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>