.post {
  .portada {
    height: 300px;
    width: 100%;
  }
  .post-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    button {
      margin-top: 1em;
      align-self: center;
    }
  }
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  background-size: contain;
}

h5,
span {
  width: 100%;
  text-align: center;
}

.card-publishment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 280px;
  h5 {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .card-publishment-avatar {
    //margin-bottom: 15px;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 100%;
      width: 80px;
      height: 80px;
      border: 2px solid white;
    }
  }

  .card-publishment-title {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .card-publishment-detail {
    height: 35%;
    p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
