<div class="container p-4" *ngIf="publishment">
    <button type="button" class="btn btn-sm btn-outline-secondary mb-3" [routerLink]="['/feed']">
        << Volver</button>
            <div class="bg-blue p-5 mb-3 d-flex justify-content-center align-items-center">
                <h2 class="text-white">{{publishment.espacio.categoria.descripcion}} <i class="fa"
                        [ngClass]="[publishment.espacio.categoria.icono]"></i></h2>
            </div>
            <div class="row post border-bottom pb-3">
                <div class="col-md-9 post-detail">
                    <!--<img src="assets/images/portada.jpg" class="portada mb-3">-->
                    <small class="mb-2">Fecha: {{publishment.fecha_alta | date: 'dd/MM/yyyy'}}</small>
                    <h1 class="text-green">{{publishment.titulo}}</h1>
                    <p>{{publishment.descripcion}}</p>
                    <a class="btn-lg btn-blue mb-4 text-center text-decoration-none" href="{{publishment.url_adjunto}}"
                        (click)="loguearDescarga()">Descargar</a>
                    <strong class="mb-4">Cantidad de descargas: <i>{{(publishment.cantidadDeDescargas === 0) ?
                            'Aún no tiene descargas' : publishment.cantidadDeDescargas }}</i></strong>
                    <div class="d-flex">
                        <strong class="me-2">Espacio: </strong>
                        <a [routerLink]="['/space/' + publishment.espacio.idEspacio]">{{publishment.espacio.titulo}}</a>
                    </div>
                </div>
                <div class="col-md-3 p-4 d-flex flex-column align-items-center">
                    <img [src]="publishment.usuario.avatar_url"
                        onerror="this.src='assets/images/user-empty-avatar.png';"
                        class="mb-3 rounded-circle img-thumbnail">
                    <h5 class="pointer mb-3" [routerLink]="['/user/' + publishment.usuario.id]">Autor:
                        {{publishment.usuario.userName}}</h5>
                    <button type="button" class="btn-green" *ngIf="isNotUserLogged() && publishment.usuario.mp_user_id"
                        (click)="openDonarLapicito()">Donar Lapicito</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h3>Valoraciones</h3>
                </div>
                <div class="col-md-6 d-flex justify-content-end" *ngIf="publishment">
                    <a class="text-decoration-underline text-blue pointer" *ngIf="isNotUserLogged()"
                        (click)="openCreateValoration()">Escribir
                        valoración</a>
                </div>
            </div>

            <div class="row feedback" *ngIf="publishment">
                <ng-container *ngIf="publishment.valoracionDtoList.length > 0">
                    <div class="col-md-3" *ngFor="let valoracion of publishment.valoracionDtoList">
                        <div class="card shadow mb-2">
                            <div class="card-valoracion">
                                <div class="p-2 d-flex flex-column">
                                    <small class="align-self-end"><i>{{valoracion.fecha | date:
                                            'dd/MM/yyyy'}}</i></small>
                                    <strong class="mb-2">{{valoracion.nombreUsuario}} dijo:</strong>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star"
                                            *ngFor="let star of getArrayStars(valoracion.cantidad_estrellas)"></i>
                                        <ng-container *ngIf="valoracion.cantidad_estrellas < 5">
                                            <i class="far fa-star"
                                                *ngFor="let star of getArrayEmptyStars(valoracion.cantidad_estrellas)"></i>
                                        </ng-container>

                                    </div>

                                    <p>{{valoracion.comentario}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <h4 *ngIf="publishment.valoracionDtoList.length === 0"><i>Aún no tiene valoraciones</i> </h4>
            </div>
</div>