.post {
  .portada {
    height: 300px;
    width: 100%;
  }
  .post-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    button {
      margin-top: 1em;
    }
  }
}

.card-valoracion {
  height: 150px;
}

h5,
span {
  width: 100%;
  text-align: center;
}

p {
  max-width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-thumbnail {
  height: 160px;
  width: 160px;
}
