<div class="container p-4">
    <div class="row post">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="assets/images/avatar.png" class="mb-3">
            <h5>Autor: javero85</h5>
            <button type="button" class="btn-green mb-4">Donar Lapicito</button>
            <h5 class="border-top pt-3">Espacio</h5>
            <span>Todo Java</span>
            <h5 class="pt-3">Categoría</h5>
            <span>Programación</span>
        </div>
        <div class="col-md-9 post-detail">
            <small class="mb-2">Fecha: 20/02/2021</small>
            <img src="assets/images/portada.jpg" class="portada mb-3">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam voluptatem corrupti saepe quisquam
                distinctio quae fugit maiores nostrum, unde pariatur vero, id quibusdam? Debitis qui eveniet, explicabo
                pariatur nisi dicta. <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam voluptatem corrupti saepe quisquam
                distinctio quae fugit maiores nostrum, unde pariatur vero, id quibusdam? Debitis qui eveniet, explicabo
                pariatur nisi dicta.</p>

            <button class="btn-lg btn-blue">Descargar</button>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h3>Valoraciones</h3>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a href="">Escribir valoración</a>
                </div>
            </div>

            <div class="row feedback">
                <div class="col-md-3">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Diego dijo:</strong>
                                <div class="d-flex mb-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, numquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Damian dijo:</strong>
                                <div class="d-flex mb-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, numquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Rama dijo:</strong>
                                <div class="d-flex mb-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, numquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow">
                        <div class="card-publishment">
                            <div class="p-2 d-flex flex-column">
                                <strong class="mt-4 mb-2">Ian dijo:</strong>
                                <div class="d-flex mb-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i></div>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, numquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>