<footer class="bg-secondary d-flex align-items-center p-3 mt-4">
    <div class="row">
        <div class="col-md-3 d-flex align-items-center">
            <img src="assets/images/logo_white.png" alt="logo en blanco">
            <h2 class="ms-2 mb-0 text-white">Lapicito</h2>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="row">
                <div class="col-md-4 d-flex flex-column">
                    <h4 class="text-white">Lapicito</h4>
                    <a href="#" class="text-decoration-none mb-2">Quienes somos</a>

                    <a href="#" class="text-decoration-none mb-2">Donar Lapicito</a>
                </div>
                <div class="col-md-4 d-flex flex-column">
                    <h4 class="text-white">Secciones</h4>
                    <a href="#" class="text-decoration-none mb-2">Publicaciones</a>
                    <a href="#" class="text-decoration-none mb-2">Espacios</a>
                </div>
                <div class="col-md-4 d-flex flex-column">
                    <h4 class="text-white">Ayuda</h4>
                    <a href="#" class="text-decoration-none mb-2">Preguntas frecuentes</a>
                    <a href="#" class="text-decoration-none mb-2">Contactanos</a>
                </div>
            </div>

        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <i class="fab fa-facebook me-3"></i>
            <i class="fab fa-instagram me-3"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
</footer>