<div class="modal-header">
    <h4 class="modal-title">Cargar Portada</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
</div>
<div class="modal-body text-center ">
    <img class="img-thumbnail mb-3" [src]="filePath" onerror="this.src='assets/images/portada-empty.jpg';">
    <input class="form-control" type="file" accept="image/*" id="customFile" (change)="selectFile($event)">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!selectedFile" (click)="upload()">Guardar</button>

</div>