/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,800&display=swap");
@import "./assets/partials/variables";

html,
body {
  height: 100%;
  transition: 0.3s ease all;
  background-color: $green-background;

  &.dark {
    background: $body_dark_background;
    color: white;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 800 !important;

  body.dark & {
    color: $green_dark_primary;
  }
}

p {
  body.dark & {
    color: $white-dark;
  }
}

header {
  h3 {
    margin: 0 5px;
    color: $green-primary;
  }
  a {
    font-family: "Nunito", sans-serif;
    color: $black-main;
    &:hover {
      color: $green-primary;
    }
  }

  body.dark & {
    background: $header_dark_background;
    box-shadow: $shadow_dark;
    a {
      color: $white-dark;
      &:hover {
        color: $green_dark_primary;
      }
    }
  }
}

footer {
  h3 {
    margin: 0 5px;
    color: $green-primary;
  }
  a,
  span {
    color: $black-main;
  }

  body.dark & {
    background: $header_dark_background;
    box-shadow: $shadow_dark;
    a,
    span {
      color: $white-dark;
      &:hover {
        color: white;
      }
    }
  }
}

input {
  border: 1px solid $gray-border-input-primary;

  body.dark & {
    // border: 1px solid $green-dark-primary;
    background-color: #4c5065;
  }
}

.intro {
  background-color: $green-background;

  body.dark & {
    background: $body_dark_background;
  }
}

.intro-break {
  background-color: $aliceblue-primary;

  body.dark & {
    background: $aliceblue-dark;
  }
}

.fa-star {
  color: $orange;
}

.text-green {
  color: $green_primary;
  body.dark & {
    color: $green_dark_primary;
  }
}

.card {
  body.dark & {
    background-color: transparent;
  }
}

.form-check-input {
  &:checked {
    background-color: $blue-primary;
  }
  body.dark & {
    &:checked {
      background-color: $green-dark-primary;
    }
  }
}

.btn-green {
  background-color: $green-primary;
  color: white;
  border: 1px solid $green-primary;
  border-radius: 5px;
  padding: 3px;
  width: 150px;
  transition: 0.3s ease all;

  &:hover {
    background-color: transparent !important;
    color: $green-primary;
    border: 1px solid $green-primary;
  }

  body.dark & {
    color: $green-dark-primary;
    border: 1px solid $green-dark-primary;
    &:hover {
      color: $aliceblue-dark !important;
      background-color: $green-dark-primary;
    }
  }
}

.btn-green-outside {
  background-color: transparent;
  color: $green-primary;
  border: 1px solid $green-primary;
  border-radius: 5px;
  padding: 3px;
  width: 150px;
  transition: 0.3s ease all;

  &:hover {
    color: $white-dark;
    background-color: $green-primary;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: transparent !important;
    color: $green-primary;
  }

  body.dark & {
    color: $green-dark-primary;
    border: 1px solid $green-dark-primary;
    &:hover {
      color: $aliceblue-dark !important;
      background-color: $green-dark-primary;
    }
  }
}

.btn-blue {
  background-color: $blue-primary;
  color: white;
  border: 1px solid $blue-primary;
  border-radius: 5px;
  padding: 3px;
  width: 150px;
  transition: 0.3s ease all;

  &:hover {
    background-color: transparent !important;
    color: $blue-primary;
    border: 1px solid $blue-primary;
  }

  body.dark & {
    color: $green-dark-primary;
    border: 1px solid $green-dark-primary;
    &:hover {
      color: $aliceblue-dark !important;
      background-color: $green-dark-primary;
    }
  }
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: $green-primary;
  color: white;
  border: 1px solid $green-primary;
}
