/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,800&display=swap");
@import "./assets/partials/variables";

html,
body {
  height: 100%;
  transition: 0.3s ease all;

  &.dark {
    background: $body_dark_background;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;

  body.dark & {
    color: $green_dark_primary;
  }
}

p {
  body.dark & {
    color: $white-dark;
  }
}

header {
  h3 {
    margin: 0 5px;
    color: $green-primary;
  }
  a {
    color: $black-main;
  }

  body.dark & {
    background: $header_dark_background;
    box-shadow: $shadow_dark;
    a {
      color: $white-dark;
      &:hover {
        color: white;
      }
    }
  }
}

.intro {
  body.dark & {
    background: $header_dark_background;
  }
}

.text-green {
  color: $green_primary;
}
