<div class="modal-header">
  <h4 class="modal-title">Ingresa</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" novalidate>
    <input
      type="text"
      name="userName"
      class="form-control mb-4"
      placeholder="Ingresa tu userName"
      formControlName="userName"
    />
    <input
      type="password"
      name="password"
      class="form-control mb-4"
      placeholder="Ingresa tu contraseña"
      formControlName="password"
    />
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn-green" (click)="login()" [disabled]="form.invalid">
        Ingresar
      </button>
      <small class="text-danger" [hidden]="!msjError"
        >El usuario o la contraseña son incorrectos</small
      >
    </div>
  </form>
</div>
<div class="modal-footer align-items-center justify-content-center">
  <p>¿No tenés cuenta?</p>
  <button
    class="btn btn-outline-secondary btn-block"
    [routerLink]="['/register']"
    (click)="dismiss()"
  >
    Registrarse
  </button>
</div>
