<div class="modal-header">
    <h4 class="modal-title">Ingresa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <input type="email" name="email" class="form-control mb-4" placeholder="Ingresa tu email"
            formControlName="email">
        <input type="password" name="password" class="form-control mb-4" placeholder="Ingresa tu contraseña"
            formControlName="password">
        <button class="btn-green">Ingresar</button>
    </form>
</div>
<div class="modal-footer justify-content-center">
    <button class="btn btn-outline-danger btn-block mt-3" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i> Iniciar Sesión con Google</button>
    <button class="btn btn-outline-primary btn-block mt-3" (click)="signInWithFB()">
        <i class="fab fa-facebook-f"></i> Iniciar Sesión con Facebook</button>
</div>