<div class="modal-header">
    <h4 class="modal-title">Dona Lapicitos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="d-flex flex-column mb-3">
            <label class="form-label">Cantidad</label>
            <div class="d-flex align-items-center">
                <img class="logo" src="assets/images/logo_new2.svg" alt="logo de la marca">
                <strong class="ms-3 me-3">x</strong>
                <input type="number" class="form-control" formControlName="lapicitos">
                <small class="text-green ms-3">(Valor lapicito: $100)</small>
            </div>
            <small class="text-danger"
                *ngIf="(form.controls.lapicitos.dirty || form.controls.lapicitos.touched) && form.controls.lapicitos.getError('required')">Seleccione
                al menos un lapicito</small>
            <small class="text-danger"
                *ngIf="(form.controls.lapicitos.dirty || form.controls.lapicitos.touched) && form.controls.lapicitos.getError('min')">
                Seleccione al menos un lapicito</small>
        </div>
        <div class="mb-3">
            <label class="form-label">Comentario</label>
            <textarea rows="5" class="form-control" formControlName="comentario"></textarea>
            <small class="text-danger"
                *ngIf="(form.controls.comentario.dirty || form.controls.comentario.touched) && form.controls.comentario.getError('required')">Escriba
                un comentario</small>
        </div>
        <div class="d-flex flex-column mb-3">
            <i>Tu donación ayuda a que los creadores de contenido se esfuercen en mantener sus publicaciones de
                calidad.</i>
        </div>



    </form>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary" (click)="dismiss()">Cancelar</button>
        <button class="btn-green-outside ms-4" [disabled]="form.invalid" (click)="donar()">Confirmar</button>
    </div>
</div>